key.txt
src/main/java/com/georgster/profile/profiles/*
target/classes/com/georgster/profile/profiles/*
src/main/java/com/georgster/api/data/*
target/classes/com/georgster/api/data/*
target/maven-status/*
target/maven-archiver/*
target/soapbot-1.214.jar
